@font-face {
    font-family: Dosis;
    src: url(Dosis-Regular.otf);
}
@font-face {
    font-family: Arvo;
    src: url(Arvo-Regular.ttf);
}
@font-face {
    font-family: Para;
    src: url(Paralines-Regular.otf);
}
@font-face {
 font-family: Timb;
 src: url(Timber.ttf);
}
@font-face {
 font-family: Glory;
 src: url(Glorynight\ Tall.ttf);
}
@font-face {
 font-family: Bebas;
 src: url(BebasNeue-Regular.otf);
}
@font-face {
    font-family: Aile;
    src: url(Ailerons-Typeface.otf);
}
@font-face {
    font-family: Binchotan_Sharp;
    src: url(Binchotan_Sharp.ttf);
}
.bodyv1{
    padding: 5px;
    background: white;
    color: black;
    font-family: Binchotan_Sharp;
    background-color: white;
}
::-webkit-scrollbar{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    color: black;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
    background: white;
    border: 1px solid black;
}
::-webkit-scrollbar:hover{
    background-color: black;
}
.sidelinks{
    text-decoration: none;
    color: white;
    font-family: Binchotan_Sharp;
    font-size: larger;
    border-radius: 5px;
    transition: 0.4s;
    padding: 5px 10px;
    float: left;
}
.sidelinks:hover{
    background-color: white;
    color: black;
}
.sidelinks:active{
    background-color: white;
    color: black;    
}
.leftdiv::-webkit-scrollbar{
    background-color: black;
    transition: background 0.4s ease-out;
    border-radius: 3px;
}
.leftdiv::-webkit-scrollbar-thumb{
    color: #efd033;
    border: 2px solid #efd033;
    border-radius: 3px;
    background-color: #efd033;
    transition: 0.4s;
}
.leftdiv::-webkit-scrollbar:hover{
    background: #efd033;
}
.leftdiv::-webkit-scrollbar-thumb:hover{
    border: 1px solid white;
    border-radius: 3px;
    background: white;
}
::selection{
    background: black;
    color: white;
}
.leftdiv{
    height: 34pc;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    overflow-y: scroll;
}
.leftdiv-heading{
    background-color: #efd033;
    color: black;
    font-family: Bebas;
    letter-spacing: 2px;
    font-size: larger;
    padding: 5px;
    border: 1px solid #efd033;
    border-radius: 3px;
    letter-spacing: 2px;
}
.content{
    word-spacing: 3px;
    font-size: large ;
    line-height: 3pc;
    font-family: dosis;
    letter-spacing: 2px;
}
.heading2{
    font-family: Bebas;
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
}
.heading2::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: black;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
.heading2:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.top-1{
    display: block;
    background-color: black;
    padding: 20px;
    font-size: medium;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#mainlogo{
    width: 55%;
    height: 15%;
}
.logo{
    display: inline-block;
    border-radius: 3px;
}
.top-heading-navbar-container{
    text-align: center;
}
.top-2{
    display: none;
    background-color: black;
    padding: 20px;
    font-size: medium;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
}
#mainlogo1{
    width: 55%;
    height: 15%;
}
.navbar{
    display: inline-block;
    position: sticky;
    top: 0%;
    background-color: black;
    color: white;
    font-family: Binchotan_Sharp;
    padding: 3px 6px;
    border: 2px solid black;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: Block; /*  Block  */
    text-align: center;
}
.navbar-left{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 12px;
}
.navbar-right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 16px;
}
.navbar-mid{
    display: inline-block;
    color: #e03c3c;
    font-family: Stargaze;
    font-size: medium;
    opacity: 0;
    transition: 0.4s;
}
ul.navbar-left{
    float: left;
}
ul.navbar-right{
    float: right;
}
li{
    padding: 3px 6px;
    display: inline;
}
#redone{
    transition: 0.4s;
    color: #358856;
}
#redone:hover{
    background-color: #358856;
    color: white;
}
#dabutton{
    padding-left: 10px;
    position: absolute;
    white-space: nowrap;
}
.navlinks{
    font-family: Binchotan_Sharp;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    padding: 4px 6px;
    border-radius: 3px;
    margin-left: 10px;
}
.navlinks:hover{
    background-color: white;
    color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 0;
    column-gap: 40px;
}
.drop_me{
    border: 2px solid black;
    border-radius: 3px;
    font-family: Binchotan_Sharp;
    font-size: medium;
    color: white;
    background-color: black;
    padding: 3px 6px;
    transition: 0.3s ease-out;
}
.drop_me:hover{
    background-color: #efd033;
    border: 2px solid #efd033;
    color: black;

}
.drop-content{
    padding-bottom: 3px;
}
.drop-container{
    background-color: black;
    color: white;
    padding: 7px 14px;
    display: inline-block;
    border-radius: 3px;
    display: none;
    z-index: 1;
    position: absolute;
    white-space: nowrap;
}
.drop-links{
    font-family: Binchotan_Sharp;
    color: white;
    background-color: black;
    text-decoration: none;
    transition: 0.4s ease-out;
    padding: 3px 6px;
    border-radius: 3px;
}
.drop-links:hover{
    color: black;
    background-color: white;
}
td{
    padding-bottom: 7%;
}
.drop-list{
    transition: none 0.5s ease-out;
}
#arrow{
    display: inline-block;
    transform: rotateZ(-90deg);
    transition: transform 0.4s ease-out;
}
.overview-small{
    display: none;
}
.sidedrop{
    background-color: black;
    color: white;
    font-family: Binchotan_Sharp;
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 3px;
    transition: color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    display: block;
}
.sidedrop:hover{
    background-color: white;
    color: white;
}
.arrow2{
    display: inline-block;
    transform: rotateZ(-90deg);
    transition: transform 0.4s ease-out;
}
.arrow3{
    display: inline-block;
    transform: rotateZ(-90deg);
    transition: transform 0.4s ease-out;
}
#side-slide-id{
    z-index: 999;
    display: none;
}
.phone-navbar-container{
    padding: 4px 8px;
    background-color: black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.phone-navbar{
    position: sticky;
    top: 0;
    color: white;
    display: none;
}
.phone-navbar-table{
    z-index: 9999;
    background-color: black;
    border-radius: 3px;
    position: absolute;
    display: none;
}
.phone-button{
    color: #efd033;
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    font-family: Binchotan_Sharp;
    padding: 3px 6px;
    transition: 0.4s;
}
.phone-button:hover{
    color: black;
    background-color: white;
    border: 2px solid white;
}
.phone-button-right{
    color: white;
    float: right;
    font-size: small;
    margin-top: 2px;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    transition: 0.4s;
}
.phone-button-right:hover{
    color: black;
    background-color: #358856;
}
.phone-navbar-table-data-link{
    font-size: small;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 4px 12px;
    border-radius: 3px;
}
.phone-navbar-table-data-link:hover{
    background-color: white;
    color: black;
}
a:visited{
    color: white;
}
.scroll-menu-logo{
    display: inline-block;
    opacity: 0;
    transition: 0.4s ease-out;
}
.img{
    display: inline-block;
    width: 22px;
    position: absolute;
    left: 50%;
    top: 4px;
}
.dark-mode-light-mode{
    padding: 2px 5px;
    font-family: Binchotan_Sharp;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    transition: 0.4s;
    background-color: black;
    font-size: medium;
}
.dark-mode-light-mode:hover{
    background-color: black;
    color: white;
}
#light-dark-button{
    transition: 0.4s;
}
#light-dark-button:hover{
    background-color: white;
    color: black;


}
#light-dark-button-2{
    position: relative;
    left: -12px;
}
.image-container{
    color: #e03c3c;
    width: 200px;
    height: auto;
    border-radius: 3px;
    padding: 25px 25px;
    text-align: center;
    display: inline-block;
    font-family: dosis;
}
.images{
    width: 200px;
    height: auto;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 3px;
}
.image-row{
    text-align: center;
    padding: 15px 10px;
    border-radius: 3px;
}
.image-2-container{
    text-align: center;
    margin: 3px;
    margin-bottom: 4px;
}
.image-2-parent{
    margin: 17px;
    padding: 8px 9px;
    padding-bottom: 4px;
    background-color: white;
    display: inline-block;
    border: 0.2px solid black;
    box-shadow: 0px 0px 14px 1px rgb(101, 101, 101);
}
.images-2{
    width: 200px;
    height: auto;
    border-radius: 2px;
}





/* Media Queries for the responsive design */
@media only screen and (max-width: 500px){
    .image-row{
        display: none;
    }
}
@media only screen and (max-width: 670px) {
    .grid-container{
        display: none;
    }
    .overview-small{
        display: block;
    }
    .phone-navbar{
        display: block;
    }
    .navbar{
        display: none;
    }
    .top-2{
        display: block;
    }
    .top-1{
        display: none;
    }
    .line-break{
        display: none;
    }
    .dark-mode-light-mode{
        font-size: small;
    }
    
}

